* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

/* Absolute Unit */
/* 1px ist immer 1px */
h1 {
    font-size: 60px;
}

/* setting html fz simplifies use of rem
62.5% is 0.625 of 16 = 10px 

prozente beziehen sich auf dem Browser Zoom*/

html {
    font-size: 10px;
    font-size: 62.5%;
}

section {
    font-size: 16px;
    /* if this fz is changed it affects all the children */
}

/* Relative Units */
/* em / rem / vw / vh / % */
/* don't use both rem and em in one file; it works but isn't good practice */

/* em bezieht sich auf den parentcontainer */

p {
    margin: 20px 0;
    font-size: 1em;
    /* 16px*/
}

section p:nth-of-type(2) {
    font-size: 2em;
    /* 32px  */
}

section p:nth-of-type(3) {
    font-size: 2.5em;
    /* 40px  */
}

section p:nth-of-type(4) {
    font-size: 4em;
    /* 64px  */
}

/* rem bezieht sich auf das Root Element = html 
for this reason it's common to set html fz to 10px for easy math*/

article p:nth-of-type(1) {
    font-size: 2rem;
    /* 20 px */
}

article p:nth-of-type(2) {
    font-size: 6rem;
    /* 60 px */
}

article p:nth-of-type(3) {
    font-size: 0.5rem;
    /* 5 px */
}

article p:nth-of-type(4) {
    font-size: 0.75rem;
    /* 7.5 px */
}

/* vh = viewheight port -> bezieht sich auf die browser (oder ansichtsfenster) höhe ... allows you to keep elements in the same relative position to one another regardless of the screen size*/

div:nth-of-type(1) {
    background-color: yellow;
    margin-bottom: 5vh;
    height: 10vh;
}

div:nth-of-type(2) {
    background-color: red;
    margin-bottom: 10vh;
    height: 10vh;
}

div:nth-of-type(3) {
    background-color: brown;
    height: 10vh;
}

/* vw = viewwidth port -> bezieht sich auf die browser breite 
vw is NOT useful for using the complete width because of the standard margin*/

div:nth-of-type(1) {
    width: 100vw;
    /* NIE weil hiermit horizontalscroll */
}

/* % bezieht sich immer auf die breite des parentcontainers 
unstyled, Bilder behalten immer die originalegröße bei
styling with %, then % of parentcontainer
weil bilder inlinecontainer sind, werden die dann nebeneinander sitzen, wenn die gesamte breite zusammen nicht breiter als dem parentcontainer ist; use display block to prevent that
when the width or height of a photo is changed the ratio remains the same

photos have an automatic Abstand top/bottom  */

section {
    background-color: yellow;
    width: 50%;
}

section img:nth-of-type(1) {
    width: 100%;
}

section img:nth-of-type(2) {
    width: 75%;
}

section img:nth-of-type(3) {
    width: 50%;
}

section img:nth-of-type(4) {
    width: 25%;
    display: block;
}